*{
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Roboto:wght@300&display=swap');


navbar{
    width: 90%;
}
.logo{
    width: 60%;
    height:50px;
    margin-top: 10px;
}
.page{
    width: 40%;
    height: 50px;
    margin-top: 10px;

}
input:nth-of-type(1){
    width: 50%;
    height: 40px;
    margin-top: 5px;
    border-radius: 30px;
    margin-left: 10px;
    border: 2px solid rgb(208, 208, 208);
}
input:nth-of-type(1):hover{
    background-color: transparent !important;
    color: black;
}
.search-icon{
    width: 25px;
    height: 25px;
    position: relative;
    top: 12px;
    left: 50px;

    z-index: 3;

}
.navbar-items-1{
    width: 130px;
    height: 50px;
    border: 2px solid white !important;
    border-radius: 30px !important;

    
}
.navbar-items-1:hover{
    width: 130px;
    height: 50px;
    background-color: rgb(227, 227, 227) !important;
    color: rgb(65, 65, 65) !important;
  
}
.navbar-items-1:nth-of-type(4):hover{
    width: 130px;
    height: 50px;
    background-color: rgb(227, 227, 227) !important;
    color: rgb(65, 65, 65) !important;
  
}
.sub-navbar-container{
    border: 1px solid rgb(206, 206, 206) !important;

}
.sub-navbar{
    width: 80%;
    height: 40px;
    font-size: 13px;
    font-family: "Trip Sans VF", "Trip Sans", Arial, sans-serif
}
.small-section,.big-title,.small-title,.image-section{
    width: 80%;
    height: 100px;
}
#big-title-red{
    font-size: 40px;
    color: rgb(220, 105, 105);
}
#big-title-black{
    font-size: 40px;
    color: black;
    margin-left: 20px;
}
.harita-button{
    border-radius: 30px !important;
}
#small-title-black{
    font-size: 30px;
}
/* .image-section-container{
    position: relative;
    top: -30px;
} */
.image-section{
    width: 80%;
    height: 300px;
}

.image-section-items{
    width:18%;
    height: 300px !important;
    min-width: 18% !important;
    border-radius: 30px;
}

.image-section-items > img{
    width: 100% !important;
   
    border-radius: 20px;
}

.image-section-items:nth-of-type(2) > b{
    position: relative;
    top: -60px;
    left: 15px;
    z-index: 3;
    color: white;
    background-color: rgba(109, 109, 109, 0.524);
    font-size: 30px;
}
.image-section-items:nth-of-type(5) > div > b{
    position: relative;
    top: -80px;
    left: 15px;
    z-index: 3;
    color: white;
    background-color: rgba(109, 109, 109, 0.524);
    font-size: 25px;
}
.image-section-items:nth-of-type(4) > b{
    position: relative;
    top: -60px;
    left: 15px;
    z-index: 3;
    color: white;
    background-color: rgba(109, 109, 109, 0.524);
    font-size: 30px;
}
.image-section-items:nth-of-type(3) > b{
    position: relative;
    top: -60px;
    left: 15px;
    z-index: 3;
    color: white;
    background-color: rgba(109, 109, 109, 0.524);
    font-size: 30px;
}
.image-section-items:nth-of-type(1) > b{
    position: relative;
    top: -60px;
    left: 15px;
    z-index: 3;
    color: white;
    background-color: rgba(109, 109, 109, 0.724);
    font-size: 30px;
}
.image-section-items-2{
    width: 23% !important;
    min-width: 20% !important;
    border-radius: 30px;
}
.image-section-items-2 > img{
    width: 100% !important;
    border-radius: 20px;
}
.white-circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    top: 50px;
    left: 220px;
    z-index: 3;
}

footer{
    width: 100%;
    height: 100px;
    background-color: #F9F1EC;
    position: relative;
    top: 100px;
   
}
.footer-section{
    width: 80%;
    height: 100%;
    background-color: rgb(110, 109, 109);

}
.footer-section > img{
    width: 50px;
    height: 50px;
    
}
#github{
    text-decoration: none;
    color: grey;

}
.footer-section > span > span{
    position: relative;
    left: 10px;
   font-size: 12px;
    
}